body{
    margin: 0%;
    padding: 0%;
background-color: #F5F5F5;

}

header{
   position: sticky;
    top: 0;
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: #F85606;
    height: 150px;
    margin-top: 0%;
 
}


.tabs ul{
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    list-style-type: none;
    color: white;
    margin-top: 0;
    position: sticky;
    
    
  
}
.tabs{
    margin-right: 50px;
    
}
.tabs li {
margin-top: 0;
    cursor: pointer;
    
}
.tabs li:hover{
    text-decoration: underline;
}

.search{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.search img{
    
    margin-left: 20px;
    cursor: pointer;
}
.searchbar{
background-color: white;
    width: 450px;
    height: 50px;
    
    border: none;
    display: flex;
    
    align-items: center;
    

    
}
.searchbar input{
    border: none;
    height: 40px;
    width: 400px;
padding: 2px;
    cursor: pointer;
    margin-left:20px ;

}
.searchbar input:focus{
    outline: none;}

.searchbar svg{
    height: 50px;
    width: 50px;
    background-color:#FFE1D2;
    color: #F85606;
    border: none;


}

.cart svg{
    height: 50px;
    width: 50px;
    color: white;
    

}

.flash-sale{
  
    
    color: #F85606;
    font-weight: bold;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.flash-sale a{
    text-decoration: none;
    color: #F85606;
 margin-right:10px;
 
    border: 1px solid #F85606 ;
    background-color: white;
}

.flash-sale h3{
    margin-left: 10px;
}



.flash-main{
    margin-left: 200px;
    margin-right: 200px;
background-color: white;

  
}

.product-card{
    width: 230px;
    height: 350px;
    display: inline-block;
margin: 20px;
    text-align: center;
    font-size: medium;

}

.product-card:hover{
    box-shadow: 2px 2px 10px gray;
    cursor: pointer;
}

.product-card img{
    width: 230px;
    height: 200px;
    margin-top: 0px;
}

.products{
    display: flex;
    
    align-items: center;
    flex-wrap: wrap;
}
h2{
    margin-left: 200px;
    margin-bottom: 0%;

}
.category-card{
    width: 120px;
    height: 120px;
    text-align: center;

    font-size: medium;
    border: 1px solid grey;
    display:block;


}
.category-card:hover{
    box-shadow: 2px 2px 10px gray;
    cursor: pointer;
}

.category-card img{
    width: 50px;
    height: 50px;
margin-top: 10px;
}
.category-card span{
    display: block;
}

.category-card h3{
    text-align: center;
    font-size: medium;
  
}
   
.Categories{
    display: flex;
    

    flex-wrap: wrap;
   
}
footer{
    background-color: #F85606;

    margin-top: 50px;
    color: white;
    display: flex;
    justify-content: space-around;

    font-size: medium;
}
footer h3{
    margin: 0;
}
footer p{
    margin: 0;
}



.footer-main{
    display: flex;
    justify-content: space-around;
    width: 1000px;
}

.footer-main a{
    text-decoration: none;
    color: white;
    
}
.footer-main a:hover{
    text-decoration: underline;
}
.footer-main button{
    text-align: center;
    margin-top: 20px;
    padding-bottom: 10px;
}

.footerlist img{
    margin-top: 100px;
}

  
.footer-bottom{
    text-align: center;
    margin-top: 50px;
}



.picture{
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: white;

}

.picture img{
    width: 1100x;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 200px;
    height: 300px;
    box-shadow: #FFE1D2 2px 2px 10px;
}
.picture img:hover{
    box-shadow: 2px 2px 10px gray;
    cursor: pointer;
}

.animation img{
    width: 1100px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 200px;
    margin-right: 300px;
    
    box-shadow: #FFE1D2 2px 2px 10px;
}
.logo-daraz1 img{
    width: 100px;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
}

.logo-daraz1{
    
width: 180px;
    height: 300px;
    background-color: white;
}
.logo-daraz1 span{
    font-size: medium;
    color: rgb(5, 5, 5);
    margin-left: 30px;
    
}

.logo-daraz1:hover{
    box-shadow: 2px 2px 10px gray;
    cursor: pointer;
}

.price{
    color: #F85606;
    font-weight: bold;
}



@media screen and (max-width: 1400px) {

    

    .flash-main{
        margin-left: 100px;
        margin-right: 100px;
    }
    h2{
        margin-left: 100px;
    }
    .picture img{
        margin-left: 100px;
        width: 800px;
        height: 250px;
    }

.logo-daraz1 {
    display:none;
    }
    .animation img{
       width: 800px;
       height: 250px;
        margin-left: 100px;
        margin-right: 100px;
    }
    .searchbar{
        width: 350px;
    }
    
    .navbar{
        background-color: #F85606;
        height: 100px;
        margin-top: 0%;
        display: flex;
        gap: 60px;
        align-items: center;
        justify-content: center;
     
     
    }
}

@media screen and (max-width: 1200px) {

    .navbar{
        background-color: #F85606;
        height: 100px;
        margin-top: 0%;
        display: flex;
        gap: 60px;
        align-items: center;
        justify-content: center;
        ;
     
     
    }
    header{
        width: 100%;
    }
    

    .flash-main{
        margin-left: 50px;
        margin-right: 50px;
    }
    h2{
        margin-left: 50px;
    }
    .picture img{
        margin-left: 50px;
        width: 600px;
        height: 200px;
    }
.logo-daraz1 {
    display:none;
    }
    .animation img{
       width: 600px;
       height: 200px;
        margin-left: 50px;
        margin-right: 50px;
    }
    .searchbar{
        width: 250px;
    }
    /* header{
        position: sticky;

        top: 0;
        margin: 0;
        padding: 0;
    } */
    .tabs{
        display: none;
    }
    .navbar{
        background-color: #F85606;
        height: 100px;
        
        display: flex;
        gap: 60px;
        align-items: center;
        justify-content: center;
     
     
    }
    
    
}


@media screen and (max-width: 900px) {

    

    .flash-main{
        margin-left: 20px;
        margin-right: 20px;
    }
    h2{
        margin-left: 20px;
    }
    .picture img{
        margin-left: 20px;
    }
    .animation img{
        margin-left: 20px;
        margin-right: 20px;
    }
    .searchbar{
        width: 200px;
    }
    
}

/* @media screen and (max-width: 300px) {

    

    .flash-main{
        margin-left: 10px;
        margin-right: 10px;
    }
    h2{
        margin-left: 10px;
    }
    .picture img{
        margin-left: 10px;
        width: 250px;
        height: 100px;
    }
    .animation img{
       width: 250px;
       height: 100px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .searchbar{
        width: 150px;
    }
    
} */
/* 
.top-banner{
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
    max-width: 1200px;
} */



