body{
    margin: 0%;
    padding: 0%;
background-color: #F5F5F5;

}

header{
   position: sticky;
    top: 0;
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: #F85606;
    height: 150px;
    margin-top: 0%;
 
}


.tabs ul{
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    list-style-type: none;
    color: white;
    margin-top: 0;
    position: sticky;
    
    
  
}
.tabs{
    margin-right: 50px;
    
}
.tabs li {
margin-top: 0;
    cursor: pointer;
    
}
.tabs li:hover{
    text-decoration: underline;
}

.search{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.search img{
    
    margin-left: 20px;
    cursor: pointer;
}
.searchbar{
background-color: white;
    width: 450px;
    height: 50px;
    
    border: none;
    display: flex;
    
    align-items: center;
    

    
}
.searchbar input{
    border: none;
    height: 40px;
    width: 400px;
padding: 2px;
    cursor: pointer;
    margin-left:20px ;

}
.searchbar input:focus{
    outline: none;}

.searchbar svg{
    height: 50px;
    width: 50px;
    background-color:#FFE1D2;
    color: #F85606;
    border: none;


}

.cart svg{
    height: 50px;
    width: 50px;
    color: white;
    

}

.flash-sale{
  
    
    color: #F85606;
    font-weight: bold;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.flash-sale a{
    text-decoration: none;
    color: #F85606;
 margin-right:10px;
 
    border: 1px solid #F85606 ;
    background-color: white;
}

.flash-sale h3{
    margin-left: 10px;
}



.flash-main{
    margin-left: 300px;
    margin-right: 300px;
background-color: white;
  
}

.product-card{
    width: 100px;
    height: 200px;
    display: inline-block;
margin: 20px;
    text-align: center;
    font-size: xx-small;

}

.product-card:hover{
    box-shadow: 2px 2px 10px gray;
    cursor: pointer;
}

.product-card img{
    width: 100px;
    height: 100px;
    margin-top: 0px;
}

.products{
    display: flex;
    
    align-items: center;
    flex-wrap: wrap;
}
h2{
    margin-left: 300px;
    margin-bottom: 0%;

}
.category-card{
    width: 100px;
    height: 180px;
    text-align: center;
    margin: 20px;
    font-size: medium;

}
.category-card:hover{
    box-shadow: 2px 2px 10px gray;
    cursor: pointer;
}

.category-card img{
    width: 100px;
    height: 100px;
    margin-top: 0px;
}


.category-card h3{
    text-align: center;
    font-size: medium;
  
}
   
.Categories{
    display: flex;
    

    flex-wrap: wrap;
   
}
footer{
    background-color: #F85606;

    margin-top: 50px;
    color: white;
    display: flex;
    justify-content: space-around;

    font-size: medium;
}
footer h3{
    margin: 0;
}
footer p{
    margin: 0;
}



.footer-main{
    display: flex;
    justify-content: space-around;
    width: 1000px;
}

.footer-main a{
    text-decoration: none;
    color: white;
}
.footer-main a:hover{
    text-decoration: underline;
}
.footer-main button{
    text-align: center;
    margin-top: 20px;
    padding-bottom: 10px;
}

.footerlist img{
    margin-top: 100px;
}




